<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Games</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

    <header>
        <h1 style="text-align: center;">The Games</h1>
        <nav>
            <div>
                <span style="margin-left: auto;">
                    <ul class="navbar-nav">
                        {% if 'user_id' not in session: %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('login')}}">Login</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                        </li>
                        {% endif %}
                        
                        <br>

                        <li class="nav-item">
                            <a href="{{ url_for('home') }}" class="btn btn-primary">Home</a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ url_for('estoque') }}" class="btn btn-primary">Cadastro de Jogos</a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ url_for('apigames') }}" class="btn btn-primary">Lista de Jogos</a>
                        </li>
                    </ul>
                </span>
            </div>
        </nav>
            <hr>
    </header>
    
    {% block content %}
    <!-- Aqui irá o conteúdo das outras páginas -->
    {% endblock content %}

    <footer>
        <hr>
        <p style="text-align: center;"> Todos os direitos reservados ®</p>
    </footer>

</body>
</html>