<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>

    {% extends 'base.html' %}
    {% block content %}

    <h2>Esta é a pagina de Games</h2>
    <hr>
    {# Comentário no jinja2 #}

    {% for k, v in game.items(): %}
    {{k}} : {{v}}<br>
    {% endfor %}

    <p>O jogo {{game['Título']}} tem {{2024-game['Ano']}} anos.</p>
    <p>Está sendo jogado por:</p>
    <ol>
        {% for j in jogadores: %}
            <li>{{j}}</li>
            {% endfor %}
    </ol>

    <hr>
    <h4>Entrar no Jogo</h4>
    
    <form action = "{{url_for('games')}}", method = "POST">
        <label for="jogador">Jogador:</label>
        <input type="text" name="jogador">
        <input type="submit" value="Entrar">
    </form>

    {% endblock content %}

</body>
</html>