<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}
        <div class="text-center">
            <h2 class="display-4">Esta é a Homepage</h2>
            <p class="lead">Bem-vindo à nossa aplicação de Games! Explore e faça login para gerenciar seus jogos.</p>
        </div>
    {% endblock %}
    <hr>

</body>
</html>