<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}
        <div class="text-center">
            <h2 class="display-4" style="text-align: center;">Bem vindo ao gerenciador de jogos The Games</h2>
            <p class="lead">Faça login e explore para gerenciar seus jogos.</p>
        </div>
    {% endblock %}
    <hr>

</body>
</html>